---
import { Image } from "astro:assets";
import Main from "@layouts/Main.astro";
import "/src/styles/discord/discord.css";

const props = {
  title: "Nekoweb's #3 Gooner",
  desc: "Welcome to my site! You WILL regret your visit.",
  keywords: "lel, nekoweb, website, neco arc, gooning, NSFW, stuff",
  imageUrl: "/images/opengraph/SaintLelsVCR.png",
  imageWidth: 1200,
  imageHeight: 1200,
  imageAlt: "Saint Lel",
  accent: "#cba6f7",
};

import Lel from "/src/assets/images/mainPage/SaintLelsVCR.png";

import num0 from "/src/assets/images/numbers/0.gif";
import num1 from "/src/assets/images/numbers/1.gif";
import num2 from "/src/assets/images/numbers/2.gif";
import num3 from "/src/assets/images/numbers/3.gif";
import num4 from "/src/assets/images/numbers/4.gif";
---

<Main {...props}>
  <h1>Welcome to the top resource for Lelism</h1>
  <p>
    Enjoy my new layout and explore! P.S This site looks better on <span
      style="color: orange;">firefox</span
    >
  </p>

  <br />

  <div id="views">
    <div id="views-counter">
      <Image src={num0} alt="0" loading="eager" decoding="async" />
      <Image src={num1} alt="1" loading="eager" decoding="async" />
      <Image src={num2} alt="2" loading="eager" decoding="async" />
      <Image src={num3} alt="3" loading="eager" decoding="async" />
      <Image src={num4} alt="4" loading="eager" decoding="async" />
    </div>
    <p id="subtitle">Visits since creation</p>
  </div>

  <div id="stats-container">
    <div id="stats">
      <h2>Stats:</h2>
      <p id="created"><em>Created</em>: Loading...</p>
      <p id="updated"><em>Updated</em>: Loading...</p>
      <p id="followers"><em>Followers</em>: Loading...</p>

      <br />

      <iframe
        loading="eager"
        title="Nekoweb Follow button"
        src="https://nekoweb.org/frame/follow"
        width="150"
        height="35"
        style="border: none"></iframe>
    </div>

    <div>
      <Image
        src={Lel}
        alt="Saint Lel"
        width="350"
        id="lel"
        loading="eager"
        decoding="async"
      />
      <p class="smol">Meet Saint Lel, the patron saint of Lelism</p>
    </div>
  </div>

  <br />
  <h2>Discord status:</h2>
  <discord-widget discord-id="1331059585896677378"></discord-widget>

  <h2>Webrings:</h2>
  <script is:inline src="/webring/script.js"></script>
  <div id="onlinewire-webring">
    <script
      type="text/javascript"
      src="https://milkyway.moe/onlinewire/onionring-variables.js"></script>
    <script
      type="text/javascript"
      src="https://milkyway.moe/onlinewire/onionring-widget.js"></script>
    <link
      rel="stylesheet"
      href="https://milkyway.moe/onlinewire/onionring.css"
    />
  </div>

  <div id="nekowebring">
    <script is:inline src="https://webring.nekoweb.org/onionring-variables.js"
    ></script>
    <script is:inline src="https://webring.nekoweb.org/onionring-widget.js"
    ></script>
    <link rel="stylesheet" href="https://webring.nekoweb.org/onionring.css" />
  </div>

  <!-- <webring-container
    style="margin: 0 auto; padding: 15px; border: solid 1px var(--text)"
  >
    <config key="type" value="catppuccin-mocha"></config>
    <config key="font" value="Overused Grotesk, Arial, sans-serif"></config>
    <config key="fill" value="false"></config>
    <script is:inline src="https://palette.nekoweb.org/webring.js"></script>
  </webring-container> -->
</Main>

<script src="/src/scripts/discord/discord.ts"></script>
<script src="/src/scripts/discord/api.ts"></script>
<script src="/src/scripts/main.ts"></script>

<style>
  #views {
    text-align: center;
  }

  #stats-container {
    display: flex;
    justify-content: space-around;
  }

  #stats {
    margin: auto 0;
  }

  #lel {
    height: 350px;
    padding: 5px;
    border: 5px double var(--foreground);
    transition: 1s;
  }

  #lel:hover {
    border: 5px double var(--accent);
  }

  .smol {
    font-size: 0.8rem;
    color: var(--text-dark);
    text-align: center;
  }
</style>
