---
import CoolLink from "@components/MainPage/CoolLink.astro";
import Main from "@layouts/Main.astro";

const props = {
  accent: "#cba6f7",
  desc: "Cooool shit ive seen",
  imageAlt: "misaki",
  imageHeight: 1200,
  imageUrl: "/images/opengraph/nhk.jpg",
  imageWidth: 1200,
  keywords: "lel, nekoweb, website, button, buttons",
  title: "Cool shit I like",
};

import bunny from "@assets/images/CoolShit/bunny.min.svg";
import catppuccin from "@assets/images/CoolShit/catppuccin.png";
import partytown from "@assets/images/CoolShit/partytown.min.svg";
import rosepine from "@assets/images/CoolShit/rosepine.min.svg";
import yayboo from "@assets/images/CoolShit/yayboo.min.svg";
---

<main {...props}>
  <h1>Cool stuff I found</h1>
  <p>Random cool things I found online that I wanted to share</p>
  <h2>Themes:</h2>
  <CoolLink
    title="Everforest"
    desc="Nice green theme"
    link="https://github.com/sainnhe/everforest"
    bgColor="#1e2326"
    borderColor="#dbbc7f"
    textColor="#d3c6aa"
  />
  <CoolLink
    title="Catppuccin"
    desc="Cool Pastell theme"
    link="https://github.com/catppuccin/catppuccin"
    bgColor="#1e1e2e"
    borderColor="#cba6f7"
    textColor="#cdd6f4"
    image={catppuccin}
  />
  <CoolLink
    title="Rosé Pine"
    desc="Similar to Catppuccin"
    link="https://rosepinetheme.com/palette/ingredients/#rose-pine"
    bgColor="#191724"
    borderColor="#eb6f92"
    textColor="#e0def4"
    image={rosepine}
  />
  <h2>Webdev:</h2>
  <CoolLink
    title="Party Town"
    desc="Moves scripts to a service worker for non-blocking execution"
    link="https://partytown.builder.io/"
    borderColor="#FF37AD"
    textColor="#2890E9"
    image={partytown}
  />
  <CoolLink
    title="icônes"
    desc="icon library"
    link="https://icones.js.org/"
    bgColor="#181818"
    borderColor="#282828"
    textColor="#d1d5db"
  />
  <CoolLink
    title="Yay.boo"
    desc="No signup Webhost "
    link="https://yay.boo/"
    bgColor="#000000"
    borderColor="#242424"
    textColor="#ffffff"
    image={yayboo}
  />
  <h2>Etc:</h2>
  <CoolLink
    title="Bunny.net Fonts"
    desc="Google Fonts Compatible font API"
    link="https://fonts.bunny.net/"
    bgColor="#002649"
    borderColor="#223C6A"
    textColor="#ffffff"
    image={bunny}
  />
  <CoolLink
    title="OSX on Docker "
    desc="OSX on a docker container, regardless of "
    link="https://github.com/sickcodes/Docker-OSX"
  />
  <CoolLink
    title="math4devs"
    desc="Math terms shown using javascript code"
    link="https://math4devs.com/"
    bgColor="#191919"
    borderColor="#2a2e33"
    textColor="#ffffff"
  />
</main>
