---
import { getCollection, render } from "astro:content";
import BlogLayout from "../../layouts/BlogLayout.astro";
import "/src/styles/blogs/comment-widget.css";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { blog: post.id },
    props: { post },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
const { Content } = await render(post);
const { title, date } = post.data;
---

<BlogLayout {title} {date}>
  <header>
    <h1>{title}</h1>
    <p class="desc">{post.data.desc}</p>
    <p class="date">{date.toLocaleDateString()}</p>
  </header>
  <Content />
  <div id="c_widget"></div>
  <script src="/src/scripts/blogs/comment-widget.js"></script>
</BlogLayout>
